*{
    margin: 0;
    padding: 0;
    
}
#grid {
    display:grid;
    grid-template-areas: 
    "head head head"
    "cuerpo cuerpo cuerpo"
    "pie pie pie";
    grid-template-columns: 15% auto 20%;
    grid-template-rows: 10vh 80vh 10vh;   
}
.navegador {
    display: grid;
    grid-template-columns: 15% auto 20%;
    grid-area: head;
    background-image: linear-gradient(to bottom, #00072d, #000d34, #00123c, #001543, #00184b, #012155, #022a5f, #033369, #104577, #205784, #326991, #457b9d);
    position: sticky;
    
}
@media screen and (max-width: 768px) {
    .navegador{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .navegadorLista{
        display: none;
    }
}


.navegadorLista {
   
    padding: 20px;
    text-align: center;
    margin: 0 auto
   
    

    
}
.boton {
    border-radius: 20%;
    background-color: #001c55;
    color: #a6e1fa; 
    text-decoration: none;
    width: 70px;
    height: auto;
    padding: 10px;
    display: inline-block;
    animation: float 6s ease-in-out infinite;
}


@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

.multimedia {
    text-align: right;
    color: #a6e1fa;
    display: inline-flex;
    padding: 20px;
}
.search-box {
    max-height: 5vh;
    background-color:#457b9d;
    margin-top: 0;
    display: inline-block;
    width: 100%;
    /* color:black */
    text-align: center;

}
.pieDePagina {
    grid-area: pie;
   
    bottom: 0px;
    text-align: right;
    right: 0px;
    background-color: #00072d;
    width: 100%;
    color: #a6e1fa;
}
.cuerpo{
    grid-area: cuerpo;
    margin: 0 auto;
    
    height: 100%;
    width: 100%;
    background-image:url(/images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.pieDePaginaTexto {
    position: relative;
    right: 10px;

}
.tabla1 {
    position: relative;
    padding: 10px;
    width:fit-content;
    margin: 0 auto;
    margin-top: 10vh;
    color: #a6e1fa;
}

.mapa {
display: inline-flex;
margin-left: 10% ;
margin-top: 5%;
color: #a6e1fa;
}

.mapaImg:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3)
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 2%;
}
.productosCont{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #a6e1fa;
    max-height: 30vh;
    filter: opacity(.5);
    
}
.productosCont:hover {
    filter: opacity(1);
    border-radius:15%;
    box-shadow: 0px 0px 15px 15px #a6e1fa;
    -webkit-box-shadow: 0px 0px 15px 15px #a6e1fa;
    overflow: hidden;

}