@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
/* Colores */
$color1: #a6e1fa;

/* Fuentes */
$fuente1: 'Lato', sans-serif;
$fuente2: 'Kanit', sans-serif;
